<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Program" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/days">
    <ion-nav-view name="tab-days"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ranking" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/teams">
    <ion-nav-view name="tab-teams"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cyclists" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/cyclists">
    <ion-nav-view name="tab-cyclists"></ion-nav-view>
  </ion-tab>
</ion-tabs>
