<ion-view view-title="Ranking">
    <ion-content>
        <div class="spinner-container" ng-show="loading">
            <ion-spinner class="spinner" ></ion-spinner>
        </div>
        
        <div class="text-center" ng-show="error">
            <h2>Connection error</h2>
            <button class="button button-positive icon-right ion-refresh" ng-click="load()">
                Refresh
            </button>
        </div>

        <ion-list ng-hide="loading" ng-hide="error">
            <ion-item ng-repeat="team in teams" href="#/tab/teams/{{team.id}}">
                <div ng-if="$index < 3">
                    <h2 class="top-3">
                        <span class="bold">{{team.ranking}}.</span> {{team.name}}
                    </h2>
                    <p class="top-3">{{team.laps}} laps</p>
                </div>
                
                <div ng-if="$index > 2">
                    <h2>
                        <span class="bold">{{team.ranking}}.</span> {{team.name}}
                    </h2>
                    <p>{{team.laps}} laps</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>