<ion-view>
    <ion-nav-title>{{cyclist.firstName}} {{cyclist.lastName}}</ion-nav-title>
    <ion-content class="padding row bg-light-gray">
        <div class="spinner-container" ng-if="loading">
            <ion-spinner class="spinner"></ion-spinner>
        </div>

        <div class="text-center" ng-if="error">
            <h2>Connection error</h2>
            <button class="button button-positive icon-right ion-refresh" ng-click="load()">
                Refresh
            </button>
        </div>

        <div class="cyclist-details col" ng-if="!error && !loading">
            <div class="card padding text-center">
                <img src="{{ cyclist.photo }}" alt="{{cyclist.lastName}}">
                <h2>{{cyclist.firstName}} {{cyclist.lastName}}</h2>
                <p>{{cyclist.dateOfBirth | date: 'dd.MM.yyyy'}}</p>
                <p>Nationality: {{cyclist.countryName}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>