<ion-view>
    <ion-nav-title>{{cyclist.firstName}} {{cyclist.lastName}}</ion-nav-title>
    <ion-content class="padding row bg-light-gray">
        <div class="col">
            <div class="card padding text-center">
                <img src="{{ cyclist.photo }}" alt="{{cyclist.lastName}}" >
                <h2>{{cyclist.firstName}} {{cyclist.lastName}}</h2>
                <p>{{cyclist.dateOfBirth | date: 'dd.MM.yyyy'}}</p>
                <p>Nationality: {{cyclist.countryName}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>

<!--style="margin: 0 auto; width:100px"-->