<ion-view>
    <ion-nav-title>{{cyclist.firstName}} {{cyclist.lastName}}</ion-nav-title>
    <ion-content class="padding row bg-light-gray">
        <div class="spinner-container" ng-if="loading">
            <ion-spinner class="spinner"></ion-spinner>
        </div>

        <div class="text-center" ng-if="error">
            <h2>Connection error</h2>
            <button class="button button-positive icon-right ion-refresh" ng-click="load()">
                Refresh
            </button>
        </div>

        <div class="cyclist-details" ng-if="!error && !loading">
            <div class="list card text-center">
                <a class="item item-avatar text-left" href="#/tab/cyclists/teams/{{cyclist.team.id}}">
                    <img src="{{cyclist.team.outfitPicture}}">
                    <h3>Team</h3>
                    <h2>{{ cyclist.team.name }}</h2>
                </a>
                <div class="item">
                    <img src="{{ cyclist.photo }}" alt="{{cyclist.lastName}}">
                    <h2>{{cyclist.firstName}} {{cyclist.lastName}}</h2>
                    <h4>{{cyclist.dateOfBirth | date: 'dd.MM.yyyy'}}</h4>
                    <p>{{cyclist.countryName}}</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>