<ion-view>
    <ion-nav-title>About</ion-nav-title>
    <ion-content class="padding row bg-light-gray">
        <div>
            <h2 class="bold text-positive">Rounds and points</h2>
            <p>
                The winning team is the team to have covered the longest distance at the end of the competition, meaning that they have cycled
                the greatest number of rounds. Although this reasoning is not quite correct because a bonus round is allocated
                for every one hundred points that a team achieves.
            </p>

            <p>
                If two teams have cycled the same number of rounds, then the winning team will be decided based on the points. These points
                can be won in all the events on the programme of the Six-Days. If at the end of the six-day event teams have
                the same number of rounds and the same number of points their ranking in the final sprint will determine
                which team wins.
            </p>

            <h2 class="bold text-positive" >Competitions</h2>

            <h4 class="bold">Team race</h4>
            <p>
                The team race (also called Madison) is the main event of the six-day event, because in this event you break free from the
                pack and then join them again from the back. As the name indicates this is a team event. Two team mates can
                relay with each other every X rounds (to be determined by the cyclists themselves). While one team mate sprints,
                the other cyclist can catch his breath on the banks of the track.
            </p>

            <h4 class="bold">Derny competitions</h4>
            <p>
                Without a doubt the most popular and spectacular event. Each team chooses one team mate to contest this event who is paired
                with a derny, a light motorcycle. The cyclists follow the derny for 60 rounds. The cyclist who first crosses
                the finish line wins the event.
            </p>

            <h4 class="bold">Elimination</h4>
            <p>
                Individual or team event. Every 3 or 6 rounds the cyclists (team) to finish last, is eliminated. The elimination is decided
                based on the rear wheel. In the final sprint, when only two cyclists remain, the first one to finish in the
                winner.
            </p>

            <h4 class="bold">Time trials</h4>
            <p>
                Per team over a distance of 500 metres (3 rounds) and individually for one round (in Ghent 166,66 metres). During the team
                time trial (500 metres) the team members compete in a relay race, the track round is usually for the fastest
                cyclist in the team, who is brought up to speed by his team mate and then relayed.
            </p>

            <h4 class="bold">Race for points</h4>
            <p>
                Both cyclists are on the track. There is a sprint for points every 10 rounds. The team with the most points wins the competition.
            </p>
            
            <h4 class="bold">Super sprint</h4>
            <p>
                One cyclist of every team. After three eliminations the remaining cyclists ride 12 rounds, followed by a final sprint.
            </p>
            <!-- Source: http://www.sport.be/z6sdaagse/2015/eng/zesdaagse/ -->
        </div>
    </ion-content>
</ion-view>