.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.bg-dark {
    background-color: #222;
}

.text-light {
    color: #EEE;
}

.spinner svg {
    width: 6em;
    height: 6em;
}

.spinner-container {
    width: 6em;
    height: 6em;
    
    position: absolute;
    margin: -3em 0 0 -3em;
    left: 50%;
    top: 50%;
}